
# Token per Papaleo_bot
TELEGRAM_AUTH_TOKEN=12345qwerty

# Secret Token generato con comando "uuid" di Linux/Ubuntu
SECRET_TOKEN=678910provaaaa

PORT=3000
DOMAIN=https://boh.com # di cloudflare o ngrok

#N.B.: esempio di request api
# https://api.telegram.org/bot<TOKEN>/setwebhook?url=<DOMAIN>/webhook&secret_token=<SECRET_TOKEN>

# NGROK
NGROK_AUTHTOKEN=<token>
